<div class="border-t-0 border-b-[1px] border-border py-6">
  <div
    class="px-6 w-full max-w-screen-xl mx-auto flex justify-between items-center"
  >
    <div>
      <ul class="flex gap-6">
        <li>
          <a href="/">C++</a>
        </li>

        <li>
          <a href="/">Dynamic Programming</a>
        </li>

        <li>
          <a href="/">DFS</a>
        </li>
      </ul>
    </div>

    <div>Search</div>
  </div>
</div>
