<footer class="border-t-[1px] border-border">
  <div class="px-6 w-full max-w-screen-xl my-10 mx-auto">
    <div class="flex gap-10 flex-col md:flex-row">
      <div>
        <h4 class="text-xl mb-2 font-bold">Redes</h4>
        <ul>
          <li>
            <a
              target="blank"
              href="https://www.facebook.com/rpcide"
              class="text-textAlt">Facebook</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.twitter.com/rpcide"
              class="text-textAlt">Twitter</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.github.com/rpcide"
              class="text-textAlt">Github</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.instagram.com/rpcide"
              class="text-textAlt">Instagram</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.youtube.com/channel/UCNc5f-bUBrj53A_lg2RT_Qw"
              class="text-textAlt">Youtube</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h4 class="text-xl mb-2 font-bold">Desarrolladores</h4>
        <ul>
          <li>
            <a
              target="blank"
              href="https://github.com/rpcide"
              class="text-textAlt">Open Source</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://github.com/rpcide"
              class="text-textAlt">Github</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h4 class="text-xl mb-2 font-bold">Compañia</h4>
        <ul>
          <li>
            <a
              target="blank"
              href="https://www.rpcide.cloud/learning"
              class="text-textAlt">Aprendizaje</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.rpcide.cloud/about-us"
              class="text-textAlt">Nosotros</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.blog.rpcide.cloud"
              class="text-textAlt">Blog</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h4 class="text-xl mb-2 font-bold">Lenguajes</h4>
        <ul>
          <li>
            <a
              target="blank"
              href="https://www.java.com/en/"
              class="text-textAlt">Java</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://en.wikipedia.org/wiki/C++"
              class="text-textAlt">C++</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.python.org/"
              class="text-textAlt">Python</a
            >
          </li>

          <li>
            <a
              target="blank"
              href="https://www.javascript.com/"
              class="text-textAlt">Javascript</a
            >
          </li>

          <li>
            <a target="blank" href="https://go.dev/" class="text-textAlt">Go</a>
          </li>
        </ul>
      </div>

      <div>
        <h4 class="text-xl mb-2 font-bold">Enlaces</h4>
        <ul>
          <li>
            <a
              target="blank"
              href="https://byandrev.vercel.app"
              class="text-textAlt">Desarrollador</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="w-full my-10 flex border-b-[1px] border-border"></div>

    <div class="w-full flex justify-between items-center text-textAlt">
      <p>@2024 RPCIDE</p>

      <p>
        Desarrollador con ❤️ por <a
          target="blank"
          class="text-primary"
          href="https://byandrev-blog.vercel.app">Andres Parra</a
        >
      </p>
    </div>
  </div>
</footer>
