---
import Logo from "./Logo.astro";
---

<header>
  <div class="w-full max-w-screen-xl mx-auto px-6 h-[65px] flex items-center justify-between">
    <div class="flex items-center gap-2">
      <Logo />
      <h1 class="text-lg font-bold">Blog</h1>
    </div>

    <nav></nav>
  </div>
</header>
