---
import Pagination from "./Pagination.astro";
import Post from "./Post.astro";

interface Props {
  posts: Array<any>;
}

const { posts } = Astro.props;
---

<section class="my-10">
  <h2 class="text-3xl font-bold mb-4">Artículos recientes</h2>

  <div class="grid grid-cols-responsive">
    {
      posts.map((post) => {
        return <Post {...post} />;
      })
    }
  </div>

  <Pagination />
</section>
