---
import Button from "./Button.astro";
---

<article class="rounded-md bg-bg-black p-10">
  <div class="">
    <header class="mb-6 max-w-xl">
      <h3 class="text-3xl font-bold mb-2">Newsletter</h3>
      <p class="text-textAlt">
        ¡No te pierdas lo último en tecnología! Suscríbete a nuestro newsletter
        para recibir las noticias, reseñas y consejos más destacados. Mantente
        al día con la evolución tecnológica. ¡Regístrate ahora para no perderte
        nada!
      </p>
    </header>

    <form>
      <div class="flex gap-2">
        <input
          type="email"
          placeholder="email@example.com"
          class="bg-bg-alt rounded p-2"
        />
        <Button colorScheme="primary">Suscribete</Button>
      </div>
    </form>
  </div>
</article>
