---
interface Props {
  title: string;
  banner: string;
  slug: string;
}

const { title, banner, slug } = Astro.props;
---

<a href={`/articulo/${slug}`}>
  <article
    class="bg-bg-base rounded-lg border-2 border-border overflow-hidden cursor-pointer transition-all hover:bg-bg-dark"
  >
    <div class="relative block pt-[56.25%]">
      <img
        src={banner}
        alt={title}
        class="absolute top-0 left-0 w-full h-full"
      />
    </div>

    <div class="p-4">
      <h2 class="text-xl font-bold">{title}</h2>
    </div>
  </article>
</a>
